* {
  box-sizing: border-box;
}
#wrapper {
  display: flex;
  justify-content: center;
}
#CourseContainer {
  display: flex;
  margin: 150px auto;
  justify-content: center;
  width: 90%;
  border: 1px solid rgba(14, 2, 2, 0.096);
  align-items: flex-start;
  box-shadow: 0px 6px 9px 1px rgb(0 0 0 / 20%);
  border-radius: 10px;
}
#leftSection {
  display: flex;
  flex-grow: 3;
  border: 1px solid rgba(148, 146, 146, 0.199);
  padding-top: 20px;
  flex-direction: column;
  height: 450px;
}
#mainCourse {
  flex-grow: 1;
}

#chatWrapper {
  flex-grow: 1;
  padding-top: 20px;
  max-height: 450px;
  overflow: auto;
  height: 450px;
  border-left: 7px solid rgba(0, 0, 0, 0.096);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#leftRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
}
#buttonsStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
#buttonsStyle button:hover {
  background-color: white;
  color: #33b292;
  transition: all 0.4s ease-in-out;
}
#buttonsStyle button {
  border: 1px solid rgb(236, 233, 233);
  color: white;
  background-color: #33b292;
  margin-bottom: 20px;
  border-radius: 50%;
  padding: 10px 10px;
  transition: all 0.4s ease-in-out;
}

#dropList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding-right: 30px;
  margin-bottom: 5px;
}

#buttonCss {
  align-self: center;
  padding: 7px 16px;
  background-color: #33b292;
  transition: all 0.3s ease-in-out;
  border-radius: 7px;
  color: white;
  font-size: 19px;
  border: 1px solid #33b292;
}
#buttonCsswrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#titlewrapper {
  text-align: center;
}
#lableStyle {
  font-size: 15px;
  color: #248a70;
  padding: 25px 15px;
  font-weight: bold;
  align-self: flex-start;
}
#action {
  padding: 4px 4px;
  width: 165px;
  color: #1e5f4f;
  font-size: 14px;
  font-weight: bold;
}
