.quiz_container {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.411);
  max-width: 65%;
  margin: 150px auto;
  padding: 10px 10px;
}

.quiz_container .quiz_header {
  display: flex;
  justify-content: space-between;
}

.quiz_container .quiz_header p {
  padding-top: 10px;
}

.quiz_container .quiz_data ol {
  /* list-style: none; */
  margin-top: 20px;
}

.quiz_container .quiz_data ol li {
  margin-top: 20px;
  /* border:1px solid #1a9274; */
  width: fit-content;
  padding: 5px 20px;
  color: #148367;
  font-size: 17px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
    border-radius: 5px;

    
}
.quiz_container .quiz_data ol li:focus {
  background-color: #1a9274;
  color: white;
}
.quiz_container .quiz_data ol li:hover {
  background-color: #1a9274;
  color: white;
}

.quiz_container .quiz_footer {
  display: flex;
  justify-content: space-between;
}

.quiz_container .quiz_footer .quiz_next {
  background-color: #148367;
  padding: 7px 18px;
  color: white;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 5px;
}
.quiz_container .quiz_footer .quiz_next:hover {
  background-color: #1a9274cb;
}

.quiz_container .quiz_footer .quiz_previous {
  background-color: rgb(255, 255, 255);
  border: 0.1rem solid rgb(196, 28, 28);
  padding: 7px 18px;
  color: rgb(196, 28, 28);
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 5px;



}
.quiz_container .quiz_footer .quiz_previous:hover {
    background-color: rgba(196, 28, 28, 0.829);
    color: rgb(255, 255, 255);
 
  }

#question {
  font-size: 20px;
  font-weight: bold;
}
