.mainContainer {
  padding: 0px 75px;
  margin-bottom: 20px;
}
.firstWrapper {
  display: flex;
  justify-content: space-between;
}
.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 100px;
}
 h1 {
  padding-left: 15px;
  font-size: 35px;
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 35px;
  color: #28977b;
}
.paragraph p {
  font-size: 17px;
  text-align: justify;
  line-height: 28px;
}
.paragraphLast h1 {
    padding-left: 15px;
    font-size: 35px;
    font-family: "Ubuntu", sans-serif;
    padding-bottom: 35px;
    color: #28977b;
}
.paragraphLast p {
    font-size: 17px;
    text-align: justify;
    line-height: 28px;
}
#icon {
  display: flex;
}
.paragraph .btn {
  background-color: #33b292;
  transition: all 0.3s ease-in-out;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  margin-top: 13px;
  padding: 10px 37px;
  align-self: flex-start;
  margin-top: 20px;
}
.paragraph .btn:hover {
  background-color: #33b292d2;
  font-weight: bold;
}
#secondWrapper {
  display: flex;
  background-image: linear-gradient(to right, #2b8a72, #33b292);
  height: 265px;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 70px;
}
#thirdrdWrapper{
  display: flex;
  background-image: linear-gradient(to right, #2b8a72, #33b292);
  height: 200px;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 70px;
}
.paragraph2 {
  align-self: center;
  font-size: 22px;
  /* font-weight: bold; */
  font-family: "Ubuntu", sans-serif;
  color: white;
}
#parag {
  padding-left: 130px;
  align-self: center;
}
#button {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
#button .btn2 {
  align-self: center;
  background-color: white;
  font-weight: bold;
  color: #33b292d2;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px white solid;
  font-size: 16px;
}
#button .btn2:hover {
  background-color: #33b292d2;
  transition: all 0.3s ease-in-out;
  color: white;
}
.paragraphLast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-right: 4px; */
  padding-left: 70px;
}

#firstImage {
  width: 500px;
  height: 350px;
}
#secondImage {
  width:610px;
  height:440px;
  /* padding-right: 50px; */
}
.firstWrapper h5{
  font-size: 18px;
}

/* cards */
.home-cards{
  width:1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  
}
.home-cards img{
  width: 300px;
  height: 330px;
  border-radius: 15px;
  border: 1px solid #33073169; 
  margin: 23px; 
  margin-top: 50px ;
  
}
.hc-container {
  position: relative;
  width: 50%;
}
/* 
.image {
  display: block;
  width: 100%;
  height: auto;
} */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 53px;
  right: 0;
  width: 300px;
  height: 330px;
  opacity: 0;
  margin-top: 50px;
  transition: .5s ease;
  border-radius: 15px;
  background-color: #28977bd0;
  text-align: justify;
}

.hc-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align:start;
}

.paragraph3{
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
